<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include $(sys.SOURCEFILEDIR)Common.wxi ?>
  <Bundle
    Name="RightAgent"
    Version="$(var.Version)"
    Manufacturer="RightAgent"
    UpgradeCode="$(var.BundleUpgradeCode)"
    IconSourceFile="$(var.RepoDir)RightAgent.Package\Assets\Agents\rightagent.ico"
    Compressed="yes">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        LicenseFile="$(var.RepoDir)installer\License.rtf"
        LocalizationFile="$(var.RepoDir)installer\loc\thm.en-US.wxl"
        LogoFile="$(var.RepoDir)RightAgent.Package\Assets\Square44x44Logo.png"
        Theme="rtfLicense"
        ThemeFile="$(var.RepoDir)installer\loc\RtfTheme.xml"
        SuppressRepair="yes"
        SuppressOptionsUI="no" />
      <!-- 2052 = zh-CN. 4 = zh-Hans (tried before 2052 on some machines). 1028 = zh-TW, same Simplified strings. -->
      <Payload Id="LocThmZhHans" Name="4\thm.wxl" SourceFile="$(var.RepoDir)installer\loc\thm.zh-CN.wxl" Compressed="yes" />
      <Payload Id="LocLicenseZhHans" Name="4\license.rtf" SourceFile="$(var.RepoDir)installer\loc\License.zh-CN.rtf" Compressed="yes" />
      <Payload Id="LocThmZhTw" Name="1028\thm.wxl" SourceFile="$(var.RepoDir)installer\loc\thm.zh-CN.wxl" Compressed="yes" />
      <Payload Id="LocLicenseZhTw" Name="1028\license.rtf" SourceFile="$(var.RepoDir)installer\loc\License.zh-CN.rtf" Compressed="yes" />
      <Payload Id="LocThmZhCn" Name="2052\thm.wxl" SourceFile="$(var.RepoDir)installer\loc\thm.zh-CN.wxl" Compressed="yes" />
      <Payload Id="LocLicenseZhCn" Name="2052\license.rtf" SourceFile="$(var.RepoDir)installer\loc\License.zh-CN.rtf" Compressed="yes" />
    </BootstrapperApplication>

    <Variable
      Name="InstallFolder"
      Type="formatted"
      Value="$(var.DefaultInstallFolder)"
      bal:Overridable="yes" />
    <Variable
      Name="LaunchTarget"
      Type="formatted"
      Value="[InstallFolder]\RightAgent.App.exe" />

    <Log Prefix="$(var.LogPrefix)-$(var.Version)" />

    <Chain>
      <ExePackage
        Id="SetupInstanceGate"
        DisplayName="RightAgent setup lock"
        SourceFile="$(var.RepoDir)installer\check_setup_mutex.cmd"
        DetectCondition="1 &gt; 2"
        Permanent="yes"
        Vital="yes"
        Compressed="yes"
        Protocol="none" />
      <MsiPackage
        Id="RightAgentMsi"
        DisplayName="RightAgent"
        SourceFile="$(var.MsiPath)"
        Compressed="yes"
        Visible="no"
        bal:DisplayInternalUICondition="false">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="MSIRESTARTMANAGERCONTROL" Value="Disable" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
